html, body {
    margin: 0px;
    padding: 0px;
    border: 0px
}

p, a, li, h1, h2, h3, h4, h5, h6, form {
    font-family: Helvetica, Arial, sans-serif;
}

form {
    margin-top: 21.44px;
}

header > ul {
    margin: 0px;
    padding: 5px;
    border: 0px
}

header ul li {
    list-style: none;
    display: inline;
}

header {
    background-color: #333399;
    margin: 0px;
    padding: 0px;
    border: 0px
}

nav ul li:first-child { 
    float: left;
}

nav ul li { 
    list-style: none;
    margin-right: 10px;
    float: right;
}

nav {
    height: 2em;
    padding-top: 12px;
    padding-left: 10px;
    border-bottom: 1px black solid;
    background-color: #cccccc;
    
}

nav > ul {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

main {
    margin-left: 10px;
}
