html, body {
    margin: 0px;
    padding: 0px;
    border: 0px
}

p, a, li, h1, h2, h3, h4, h5, h6, form {
    font-family: Helvetica, Arial, sans-serif;
}

form {
    margin-top: 21.44px;
}

header > ul {
    margin: 0px;
    padding: 5px;
    border: 0px
}

header ul li {
    list-style: none;
    display: inline;
}

header {
    background-color: #333399;
    margin: 0px;
    padding: 0px;
    border: 0px
}

nav ul li:first-child { 
    float: left;
}

nav ul li { 
    list-style: none;
    margin-right: 10px;
    float: right;
}

nav {
    height: 1.9em;
    padding-top: 12px;
    padding-left: 10px;
    border-bottom: 1px black solid;
    background-color: #cccccc;
    
}

nav > ul {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

main {
    padding-top: 5px;
    margin-left: 20px;
}

/* unvisited link */
a:link {
    color: #333399;
}

/* visited link */
a:visited {
    color: #333399;
}

/* mouse over link */
a:hover {
    color: #B9002A;
}

/* selected link */
a:active {
    color: #333399;
}

fieldset {
    border-style: none;
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

fieldset > label, fieldset > label > input, fieldset > label > textarea, fieldset > label > select > option {
    font-weight: lighter;
    font-size: 10pt;
}

fieldset > label > p {
    font-size: 12pt;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: normal;
}

.error {
    font-size: 9pt;
    color: red;
}

.tooltip {
    display: none;
    border: 1px solid black;
}

span:hover .tooltip {
    display: block;
    float: right;
    background-color: #FFFFF0;
    margin-right: 15px;
    margin-top: 10px;
    padding: 5px;
    width: 50%;
}

form > fieldset > label > h2 {
    font-size: 11pt;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    margin-top: 10px;
}

form > fieldset > label > h3 {
    font-size: 10pt;
    font-weight: normal;
    margin: 0px;
    margin-top: 6px;
    margin-left: 15px;
    padding: 0px;
}

.expectation {
    margin-left: 35px;
}